{% block base_navbar %}  
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Cambiar navegación</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url "index" %}">CyberZone</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Clientes <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{% url "cliente_add" %}">Crear</a></li>
						<li><a href="{% url "cliente_index" %}">Listado</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Equipo <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{% url "tipo_equipo_index" %}">Tipo de equipo</a></li>
						<li><a href="{% url "equipo_index" %}">Listado de equipo</a></li>
						<li><a href="{% url "equipo_add" %}">Registrar equipo</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Garantías <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{% url "garantia_index" %}">Listado de garantías</a></li>
						<li><a href="{% url "garantia_add" %}">Crear garantía</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Informes <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{% url "informe_tipo" %}">Principio de pareto</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
{% endblock base_navbar %}