{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1>{{ cliente.nombre }} {{ cliente.apellido}}</h1>
				</div>
				<div class="panel-body">
					<ul>
						<li><strong>NIT</strong>{{cliente.nit}}</li>
						<li><strong>Dirección:</strong> {{ cliente.direccion }}</li>
						<li><strong>Telefono:</strong> {{ cliente.telefono }}</li>
					</ul>
				</div>
				<div class="panel-body">
					<a href="{% url "cliente_edit" id_cliente=cliente.id %}" class="btn btn-sm btn-primary">Editar</a>
					<a href="{% url "cliente_delete" id_cliente=cliente.id %}" class="btn btn-sm btn-danger">Eliminar</a>
				</div>
				<div class="panel-heading">
					<h3 >Equipo y garantías</h3>
				</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Descripción</th>
							<th>Garantía</th>
						</tr>
					</thead>
					{% for equipo in equipo_list %}
					<tr>
						<td>{{ equipo.descripcion }}</td>
						{% if equipo.garantia.is_valid == True %}
						    <td class="success">
						    	<a href="{% url "garantia_detail" id_garantia=equipo.garantia.id %}"></a>
						    	Garantía vigente
						{% elif equipo.garantia == False %}
						 <td class="warning">
						 	Garantía vencida
						{% else %}
						     <td class="info">
						     <a href="{% url "garantia_add_equipo" id_equipo=equipo.descripcion.id %}">Sin garantía</a> 
						{% endif %}
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock content %}