{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>NIT</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Dirección</th>
						<th>Teléfono</th>
					</tr>
				</thead>
				<tbody>
					{% for cliente in cliente_list %}
						<tr>
							<td>
								<a href="{% url "cliente_detail" id_cliente=cliente.id %}">
								{{ cliente.nit }}
								</a>
							</td>
							<td>{{ cliente.nombre }}</td>
							<td>{{ cliente.apellido }}</td>
							<td>{{ cliente.direccion }}</td>
							<td>{{ cliente.telefono }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}